# Environment
NODE_ENV="development"

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fast_feet"

# Server
PORT="3333"

# Authorization
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN="86400" # 1 day

# Upload (AWS/CLOUDFLARE)
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_NAME=""
CLOUDFLARE_ACCOUNT_ID=""

# Email (SMTP)
MAIL_HOST="smtp.ethereal.email"
MAIL_PORT="587"
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM="fastfeet@example.com"

# Seed
ADMIN_DEV_SEED_PASSWORD="your-admin-password"
ADMIN_DEV_SEED_CPF="your-valid-cpf"